<h1>Weather Dashboard</h1>

<div class="row">
  <div class="col 6">
    <div class="card">
      <div class="card-content">
        <section id="weather-dashboard">
          <h4>How Ride Count Varies with Visibility</h4>
          <section class='maximum-visibility-data'>
            <h5>Maximum Number of Trips on a Day</h5>
            <% @max_visibilities.each do |visibility| %>
            <p><%= "#{visibility} "%></p>
            <% end %>
          </section>
          <section class='minimum-visibility-data'>
            <h5>Minimum Number of Trips on a Day</h5>
            <% @min_visibilities.each do |visibility| %>
            <p><%= "#{visibility} "%></p>
            <% end %>
          </section>
          <section class='average-visibility-data'>
            <h5>Average Number of Trips on a Day</h5>
            <% @ave_visibilities.each do |visibility| %>
            <p><%= "#{visibility} "%></p>
            <% end %>
          </section>
        </section>
      </div>
    </div>

    <div class='col 6'>
      <div class='card weather'>
        <div class='card-content'>
          <section id='wind-data'>
            <h4>How Ride Count Varies with Wind Speed and Temperature</h4>
            <section class='wind-maximum-rides'>
              <h5>Maximum Number of Trips on a Day</h5>
              <% @max_wind_speeds.each do |speed| %>
              <p><%= "#{speed} "%></p>
              <% end %>
            </section>
            <section class='wind-minimum-rides'>
              <h5>Minimum Number of Trips on a Day</h5>
              <% @min_wind_speeds.each do |speed| %>
              <p><%= "#{speed} "%></p>
              <% end %>
            </section>
            <section class='wind-average-rides'>
              <h5>Average Number of Trips on a Day</h5>
              <% @ave_wind_speeds.each do |speed| %>
              <p><%= "#{speed} "%></p>
              <% end %>
            </section>
            <section>
              <h5>Day with Most Rides: </h5>
              <% Condition.temp_highest_rides.each do |ride| %>
                <p><%= ride %></p>
              <% end %>
              <h5>Day with Least Rides: </h5>
              <% Condition.temp_lowest_rides.each do |ride| %>
                <p><%= ride %></p>
              <% end %>
              <h5>Average Rides per Day: </h5>
              <% Condition.temp_average_rides.each do |ride| %>
                <p><%= ride %></p>
              <% end %>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col 6'>
    <div class='card precipitation'>
      <div class='card-content'>
        <section id='wind-data'>
          <section class='prec-max-rides'>
            <h4>How Ride Count Varies with Precipitation</h4>
            <h5>Day with Most Rides: </h5>
            <% Condition.precipitation_highest_rides.each do |ride| %>
              <p><%= ride %></p>
            <% end %>
          </section>
          <section class='prec-min-rides'>
            <h5>Day with Least Rides: </h5>
            <% Condition.precipitation_lowest_rides.each do |ride| %>
              <p><%= ride %></p>
            <% end %>
          </section>
          <section class='prec-average-rides'>
            <h5>Average Rides per Day: </h5>
            <% Condition.precipitation_average_rides.each do |ride| %>
              <p><%= ride %></p>
            <% end %>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
