<h1>Station Dashboard</h1>

<div class="row">
      <div class="col s12 m10">
        <div class="card">
          <div class="card-content">
            <section id="station-dashboard">
              <p>Total Stations: <%= Station.count %></p>
              <p>Average Number of Bikes: <%= Station.average_bikes %></p>
              <p>Station with Fewest Bikes: <%= Station.name_fewest_bikes %></p>
              <p>Fewest Bikes: <%= Station.fewest_bikes %></p>
              <p>Station with Most Bikes: <%= Station.name_most_bikes %></p>
              <p>Most Bikes: <%= Station.most_bikes %></p>
              <p>Newest Station: <%= Station.newest_station %></p>
              <p>Oldest Station: <%= Station.oldest_station %></p>
            </section>
          </div>
        </div>
      </div>
    </div>
