<h1>All Stations</h1>

<% @stations.each do |station| %>
<div class="row">
      <div class="grid-example col s6 m6">
        <div class="card">
        <div class="card-panel hoverable">

          <div class="card-image">
            <img src="background01.jpg">
            <span class="card-title"><strong><%= station.name %></strong></span>
          </div>
          <div class="card-content">
            <section>
              <h5><%= station.name %></h5>
              <% city = City.find(station.city_id)%>
              <p><strong>City: <%= city.name %></strong></p>
              <p>Total Number of Docks: <%= station.dock_count %></p>
              <p>Installation Date: <%= station.installation_date %></p>
            </section>
          </div>

          <div class="card-action">
            <a href="/stations/<%= station.id %>" id="download-button" class="btn waves-effect waves-light indigo lighten-1">View Station</a>
            <a href="/stations/<%= station.id %>/edit" id="download-button" class="btn waves-effect waves-light orange lighten-1">Edit</a>
            <!-- <a href="/stations/<%= station.id %>">View Station</a>
            <a href="/stations/<%= station.id %>/edit">Edit</a> -->
            <!-- <a href="/stations/<%= station.id %>">Delete</a> -->
          </div>

          <div class="card-action">
            <form action='/stations/<%= station.id %>' method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
<% end %>
