<h1>Station Information</h1>

<section>
  <p>Station Name: <%= @station.name %></p>
  <p>City: <%= @city.name %></p>
  <p>Total Number of Docks: <%= @station.dock_count %></p>
  <p>Installation Date: <%= @station.installation_date %></p>
</section>

<a href="/stations/<%= @station.id %>/edit">Edit</a>
<form action='/stations/<%= @station.id %>' method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete" />
</form>
