<h1>Trip Dashboard</h1>

<div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="station_card.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <section>
              <p>Shortest Ride (seconds): <%= Trip.shortest_ride %></p>
              <p>Longest Ride (seconds): <%= Trip.longest_ride %></p>
              <p>Average Trip Time (seconds): <%= Trip.average_duration %></p>
              <p>Busiest Day: <%= Trip.busiest_day %></p>
              <% if @condition %>
              <p>Weather for Busiest Day: </p>
                <p>High: <%= @condition.max_temperature_f %> </p>
                <p>Low: <%= @condition.min_temperature_f %> </p>
                <p>Average: <%= @condition.mean_temperature_f %></p>
                <p>Mean Humidity: <%= @condition.mean_humidity %></p>
                <p>Mean Visibility: <%= @condition.mean_visibility %></p>
                <p>Wind Speed : <%= @condition.mean_wind_speed %></p>
                <p>Precipitation <%= @condition.precipitation_inches %></p>
                <% end %>
              <p>Slowest Day: <%= Trip.slowest_day %></p>
              <p>Most Ridden Bike: <%= Bike.most_ridden %></p>
              <p>Least Ridden Bike: <%= Bike.least_ridden %></p>
              <p>Most Common Starting Station: <%= Trip.most_common_starting_station %></p>
              <p>Most Common Ending Station: <%= Trip.most_common_ending_station %></p>
              <section>
                <h3>Month by Month Breakdown of Trips</h3>
                <% Trip.month_by_month.each do |month| %>
                <p><%= month %></p>
                <% end %>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
