<h1>Trip Dashboard</h1>

<div class="row">
  <div class="col 6">
    <div class="card">
      <div class="card-content">
        <section>
          <h5>Trip Statistics</h5>
          <p>Shortest Ride (seconds): <%= Trip.shortest_ride %></p>
          <p>Longest Ride (seconds): <%= Trip.longest_ride %></p>
          <p>Average Trip Time (seconds): <%= Trip.average_duration %></p>
          <p>Busiest Day: <%= Trip.busiest_day %></p>
          <% if @busiest_condition %>
          <p>Weather for Busiest Day: </p>
          <p>High: <%= @busiest_condition.max_temperature_f %> </p>
          <p>Low: <%= @busiest_condition.min_temperature_f %> </p>
          <p>Average: <%= @busiest_condition.mean_temperature_f %></p>
          <p>Mean Humidity: <%= @busiest_condition.mean_humidity %></p>
          <p>Mean Visibility: <%= @busiest_condition.mean_visibility %></p>
          <p>Wind Speed : <%= @busiest_condition.mean_wind_speed %></p>
          <p>Precipitation <%= @busiest_condition.precipitation_inches %></p>
          <% end %>
          <p>Slowest Day: <%= Trip.slowest_day %></p>
          <% if @slowest_condition %>
          <p>Weather for Busiest Day: </p>
          <p>High: <%= @slowest_condition.max_temperature_f %> </p>
          <p>Low: <%= @slowest_condition.min_temperature_f %> </p>
          <p>Average: <%= @slowest_condition.mean_temperature_f %></p>
          <p>Mean Humidity: <%= @slowest_condition.mean_humidity %></p>
          <p>Mean Visibility: <%= @slowest_condition.mean_visibility %></p>
          <p>Wind Speed : <%= @slowest_condition.mean_wind_speed %></p>
          <p>Precipitation <%= @slowest_condition.precipitation_inches %></p>
          <% end %>
          <p>Most Ridden Bike: <%= Bike.most_ridden %></p>
          <p>Least Ridden Bike: <%= Bike.least_ridden %></p>
          <p>Most Common Starting Station: <%= Trip.most_common_starting_station %></p>
          <p>Most Common Ending Station: <%= Trip.most_common_ending_station %></p>
        </section>
      </div>
    </div>
  </div>
  <div class='col 6'>
    <div class="card">
      <div class="card-content">
        <section>
          <h5>Monthly Trip Statistics</h5>
          <% Trip.month_by_month.each do |month| %>
          <p><%= month %></p>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>
